@font-face {
  font-family: "Gotham Pro Medium";
  src: url(../fonts/GothamPro-Medium.eot);
  src: url(../fonts/GothamPro-Medium.eot) format("embedded-opentype"), url(../fonts/GothamPro-Medium.woff) format("woff"), url(../fonts/GothamPro-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Bold";
  src: url(../fonts/GothamPro-Bold.eot);
  src: url(../fonts/GothamPro-Bold.eot) format("embedded-opentype"), url(../fonts/GothamPro-Bold.woff) format("woff"), url(../fonts/GothamPro-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px 20px;
}

.wrapper {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 20px;
}

body {
  background: #e5e5e5;
}

.header {
  margin-bottom: 55px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 56px 0 0 0;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 62px;
}

@media (max-width: 767px) {
  .header__logo {
    margin-right: 10px;
    width: 90px;
  }
}

.header__image {
  margin-right: 20px;
}

@media (max-width: 575px) {
  .header__image {
    width: 30px;
  }
}

.header__name {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #3b1d8f;
}

@media (max-width: 575px) {
  .header__name {
    display: none;
  }
}

.header__description {
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  line-height: 20px;
  color: #303030;
}

@media (max-width: 991px) {
  .header__description {
    display: none;
  }
}

.header__tel {
  font-family: "Gotham Pro Bold";
  font-size: 16px;
  line-height: 18px;
  color: #303030;
  margin-right: 36px;
}

@media (max-width: 767px) {
  .header__tel {
    display: none;
  }
}

.header__entrance {
  font-size: 16px;
  line-height: 18px;
}

.header__mobile {
  background: linear-gradient(326.06deg, #2641d1 11.53%, #3333a3 74.32%);
  border-radius: 7px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

@media (min-width: 767px) {
  .header__mobile {
    display: none;
  }
}

.header__burger {
  background: #dee6ef;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) {
  .header__burger {
    display: none;
  }
}

.header__door {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-button {
  font-family: "Gotham Pro Bold";
  color: #ffffff;
  padding: 16px 32px;
  background: #273895;
  border-radius: 15px;
}

.main-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.main-logo {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.major {
  margin-bottom: 144px;
}

.major__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -100px;
  z-index: 2;
}

.major__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.major__info {
  margin-right: 50px;
}

.major__navbar {
  margin-bottom: 120px;
}

.major__nav {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #000000;
  padding-right: 30px;
}

.major__nav:last-child {
  padding-right: 0;
}

.major__nav:hover {
  color: #273895;
}

.major__tittle {
  font-family: "Gotham Pro Bold";
  font-size: 48px;
  line-height: 115%;
  color: #262626;
  max-width: 733px;
  margin-bottom: 16px;
}

.major__text {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 150%;
  color: #303030;
  display: block;
  max-width: 550px;
  margin-bottom: 32px;
}

.major__button {
  display: inline-block;
}

.major__lite {
  position: relative;
  padding-top: 75px;
  z-index: -2;
}

.major__radius {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 145px;
  height: 145px;
  text-align: center;
  color: #303030;
  border-radius: 50%;
  background: url(../pictures/Group.svg), #e5e5e5;
  border-color: #f4f7fa;
  position: absolute;
  top: 0;
  left: 225px;
}

.major__spark {
  position: absolute;
  top: 90px;
  left: 135px;
}

.major__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 730px;
  max-height: 165px;
  background: #f4f7fa;
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
}

.major__item {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 26px;
  color: #303030;
  padding-right: 32px;
}

.major__item img {
  display: block;
  margin-bottom: 7px;
}

.major__item:last-child {
  padding-right: 0;
}

.major__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 48px;
}

.radius__bold {
  font-family: "Gotham Pro Bold";
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

.radius__lite {
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  line-height: 14px;
  color: #303030;
}

.suggest {
  margin-bottom: 50px;
}

.suggest__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.suggest__info {
  max-width: 406px;
}

.suggest__logo {
  margin-bottom: 32px;
}

.suggest__title {
  font-family: "Gotham Pro Bold";
  font-size: 32px;
  line-height: 44px;
  color: #303030;
  margin-bottom: 16px;
}

.suggest__text {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 150%;
  color: #404040;
}

.suggest__table {
  position: relative;
}

.suggest__big-area {
  position: absolute;
  top: -45;
  right: -100px;
}

.suggest__medium-area {
  position: absolute;
  left: 40px;
  bottom: 162px;
}

.suggest__small-area {
  position: absolute;
  top: 230px;
  right: 175px;
}

.icons {
  max-width: 432px;
  z-index: 2;
}

.icons__item {
  background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
  padding: 24px;
  margin: 12px;
  text-align: center;
  z-index: 2;
}

.icons__big {
  font-size: 48px;
  line-height: 44px;
}

.icons__medium {
  font-size: 36px;
  line-height: 44px;
}

.icons__little {
  font-size: 16px;
  line-height: 44px;
  letter-spacing: 0.17em;
}

.icons__small {
  font-size: 16px;
  line-height: 150%;
}

.icons__text {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 150%;
  color: #404040;
}

.icons__colorized {
  font-family: "Gotham Pro Bold";
  background-image: -webkit-gradient(linear, left top, right top, from(#4614e8), to(#bca7ff));
  background-image: linear-gradient(90deg, #4614e8, #bca7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #7247ff;
}

.icons__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.icons__second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: -16px;
}

.item-large {
  padding: 32px;
}

.help {
  margin-bottom: 176px;
}

.help__tittle {
  font-family: "Gotham Pro Bold";
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #303030;
  margin-bottom: 32px;
}

.help__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.help__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 8px;
}

.help__card {
  padding: 32px;
}

.help__image {
  margin-bottom: 16px;
}

.help__name {
  font-family: "Gotham Pro Bold";
  font-size: 16px;
  line-height: 150%;
  color: #303030;
  margin-bottom: 16px;
}

.help__text {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 150%;
  color: #404040;
}

.vantage {
  margin-bottom: 144px;
}

.vantage__tittle {
  font-family: "Gotham Pro Bold";
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #303030;
  margin-bottom: 25px;
}

.vantage__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vantage__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vantage__picture {
  position: relative;
  height: 410px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  margin-right: 32px;
}

.vantage__main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.vantage__little {
  position: absolute;
  top: 14px;
  left: 16px;
  z-index: 2;
}

.vantage__ring {
  position: absolute;
  top: 100px;
  left: 22px;
  z-index: 3;
}

.vantage__word {
  position: absolute;
  top: 270px;
  left: 75px;
  z-index: 3;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.17em;
  font-family: "Gotham Pro Medium";
  color: #ffffff;
}

.vantage__window {
  position: absolute;
  top: -14px;
  left: 77px;
  z-index: 4;
  padding: 19px 19px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 190px;
  background: linear-gradient(326.06deg, #f0ebff 11.53%, #ffffff 74.32%);
  -webkit-box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
          box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
  border-radius: 11.9362px;
}

.vantage__question {
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.vantage__button a {
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(326.06deg, #2641d1 11.53%, #3333a3 74.32%);
  border-radius: 7.95745px;
  padding: 15px 22px;
}

.vantage__button:hover {
  opacity: 0.6;
}

.vantage__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  padding-top: 13px;
}

.vantage__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -9px;
  margin-top: -70px;
  z-index: 5;
}

.vantage__card {
  background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin: 0 9px;
}

.vantage__grap {
  padding: 32px;
}

.vantage-text__info {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 150%;
  color: #404040;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding-right: 40px;
}

.vantage-text__info p {
  margin-bottom: 20px;
}

.vantage-text__tittle {
  font-family: "Gotham Pro Bold";
  font-size: 16px;
  line-height: 44px;
  letter-spacing: 0.17em;
  color: #34449c;
}

.vantage-text__places {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 150%;
  color: #404040;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding-top: 62px;
}

.vantage-text__places li {
  list-style: none;
  background: url(../pictures/li.svg) no-repeat;
  background-position: 0 10px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.grap__image {
  margin-bottom: 16px;
}

.grap__name {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 20px;
  color: #404040;
  margin-bottom: 16px;
}

.grap__text {
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  line-height: 150%;
  color: #404040;
  margin-bottom: 16px;
}

.tariff__name {
  text-align: center;
  margin-bottom: 42px;
}

.tariff__period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}

.tariff-name {
  font-family: "Gotham Pro Bold";
  font-size: 32px;
  line-height: 44px;
  color: #303030;
  margin-bottom: 16px;
}

.tariff-surname {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 150%;
  color: #404040;
}

.tariff__voice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tariff__link {
  margin-right: 64px;
  min-width: 140px;
  text-align: center;
}

.tariff__link:last-child {
  margin-right: 0;
}

.tariff__link a {
  font-family: "Gotham Pro Medium";
  font-size: 20px;
  line-height: 30px;
  color: #273895;
  border-bottom: 1px dashed #2741cf;
  cursor: pointer;
}

.tariff__link a:hover {
  color: #ffffff;
  padding: 16px 32px;
  background: #273895;
  border-radius: 15px;
}

.tariff__item {
  background: #ffffff;
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 16px;
  padding: 48px;
}

.tariff__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -16px;
}

.hod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.hod__tittle {
  font-family: "Gotham Pro Bold";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #2741d0;
  margin-bottom: 16px;
}

.hod__lite {
  font-family: "Gotham Pro Medium";
  font-size: 32px;
  line-height: 44px;
  font-size: 32px;
  line-height: 44px;
  color: #c9c9c9;
  margin-bottom: 16px;
}

.hod__subtittle {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 30px;
  color: #737373;
  margin-bottom: 16px;
}

.hod__price {
  font-family: "Gotham Pro Bold";
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  margin-bottom: 16px;
}

.hod__foryou {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  margin-bottom: 16px;
}

.hod__list {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 40px;
  color: #404040;
  margin-bottom: 16px;
}

.hod__list li {
  list-style: none;
  background: url(../pictures/li.svg) no-repeat;
  background-position: 0 18px;
  padding-left: 20px;
  margin-bottom: 16px;
}

.hod__link {
  display: block;
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 40px;
  color: #2741d0;
  margin-bottom: 16px;
}

.hod__link::after {
  content: url(../pictures/needle.svg);
  padding-left: 15px;
  position: relative;
  top: 3px;
}

.hod__button {
  margin-bottom: 16px;
}

.hod__button:hover {
  opacity: 0.7;
}

.hod__button a {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 16px 32px;
  background: #273895;
  border-radius: 15px;
}

.group-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.group-column__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-item {
  text-align: center;
}

.first-list {
  text-align: left;
}

.first-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.will {
  background: url(../pictures/MaskGroup.png) no-repeat, url(../pictures/Rectangle.png) no-repeat;
  background-size: cover;
  margin-bottom: 76px;
}

.will__box {
  padding-top: 88px;
  padding-bottom: 205px;
}

.will__tittle {
  font-family: "Gotham Pro Bold";
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 16px;
}

.will__text {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 150%;
  color: #e9e9e9;
}

.cards {
  margin-bottom: 144px;
}

.cards__item {
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 16px;
}

.cards__package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 110px;
}

.cards__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.cards__button {
  text-align: center;
  margin-top: 40px;
}

.cards__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.cards__button a {
  font-family: "Gotham Pro Bold";
  color: #ffffff;
  padding: 16px 32px;
  background: #273895;
  border-radius: 15px;
}

.card-text__tittle {
  font-family: "Gotham Pro Medium";
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 10px;
}

.card-text__text {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.start {
  background: url(../pictures/Vector3.svg) no-repeat;
  background-position: center;
  background-size: 63%;
  margin-bottom: 144px;
}

.start__tittle {
  font-family: "Gotham Pro Bold";
  font-size: 32px;
  line-height: 44px;
  color: #303030;
  text-align: center;
  margin-bottom: 48px;
}

.start__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  margin: -8px;
}

.start__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start__column {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 20px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 8px;
  border: 1px solid #ffffff;
}

.start__column:hover {
  border: 1px solid #273895;
}

.start__number {
  font-family: "Gotham Pro Bold";
  font-size: 14px;
  line-height: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #404040;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.start__name {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  line-height: 36px;
  color: #404040;
  margin-bottom: 16px;
}

.start__text {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}

.start__button {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.column__box {
  padding: 35px;
}

.column__box img {
  margin-bottom: 16px;
}

.column__box__image {
  padding-top: 73px;
}

.buttons {
  text-align: center;
}

.buttons a {
  font-family: "Gotham Pro Bold";
  color: #ffffff;
  padding: 16px 32px;
  background: #273895;
  border-radius: 15px;
}

.forecast {
  background: #273895;
}

.forecast__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 144px;
}

@media (max-width: 1199px) {
  .forecast__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.forecast__info {
  font-family: "Gotham Pro Bold";
  font-size: calc(24px + 8 * (100vw / 1300));
  line-height: 44px;
  color: #ffffff;
}

.forecast__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forecast__item {
  text-align: center;
  padding: 96px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-right: 20px;
}

.forecast__item:last-child {
  padding-right: 0;
}

.forecast__text_color {
  font-family: "Gotham Pro Bold";
  font-size: calc(24px + 8 * (100vw / 1300));
  line-height: 150%;
  background-image: -webkit-gradient(linear, left top, right top, from(#4614e8), to(#bca7ff));
  background-image: linear-gradient(90deg, #4614e8, #bca7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #7247ff;
}

.forecast__text_black {
  font-family: "Gotham Pro Medium";
  font-size: calc(12px + 2 * (100vw / 1300));
  line-height: 20px;
  color: #ffffff;
}

.profile__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -48px;
  margin-bottom: 144px;
}

@media (max-width: 991px) {
  .profile__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
}

.profile__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 48px;
  position: relative;
}

@media (max-width: 991px) {
  .profile__picture {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile__photo {
  border-radius: 20px;
}

.profile__text {
  max-width: 360px;
  max-height: 125px;
  background: linear-gradient(331.41deg, #f0ebff -4.05%, #ffffff 34.42%);
  -webkit-box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.2);
          box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.2);
  border-radius: 11.9362px;
  padding: 32px;
  position: absolute;
  right: -128px;
  bottom: -27px;
}

@media (max-width: 991px) {
  .profile__text {
    left: 47%;
    top: 83%;
  }
}

@media (max-width: 575px) {
  .profile__text {
    left: 17%;
    top: 83%;
  }
}

.profile__letter {
  font-family: "Gotham Pro Medium";
  font-size: 32px;
  line-height: 16px;
  color: #303030;
}

.profile__say {
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  line-height: 16px;
  color: #303030;
}

.profile__info {
  margin: 0 48px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 991px) {
  .profile__info {
    margin-bottom: 45px;
  }
}

.questionnaire__tittle {
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  padding-top: 50px;
}

@media (max-width: 991px) {
  .questionnaire__tittle {
    text-align: center;
  }
}

.questionnaire__name {
  font-family: "Gotham Pro Bold";
  font-size: 32px;
  line-height: 44px;
  color: #303030;
  margin-bottom: 16px;
}

@media (max-width: 991px) {
  .questionnaire__name {
    text-align: center;
  }
}

.questionnaire__stage {
  font-family: "Gotham Pro Bold";
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  margin-bottom: 32px;
}

@media (max-width: 991px) {
  .questionnaire__stage {
    text-align: center;
  }
}

.questionnaire__text {
  display: block;
  padding-right: 50px;
  font-family: "Gotham Pro Medium";
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}

.questionnaire__text_first {
  margin-bottom: 16px;
}

.questionnaire__text_first li {
  margin-left: 16px;
}

.questionnaire__text_second {
  margin-bottom: 40px;
}

.questionnaire__button {
  display: block;
  margin-top: 40px;
}

@media (max-width: 991px) {
  .questionnaire__button {
    text-align: center;
  }
}

.footer {
  border-top: 1px solid #cfdae7;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
  margin-top: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 575px) {
  .footer__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 446px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}

.footer__image {
  margin-right: 48px;
}

.footer__picture {
  margin-right: 20px;
}

.footer__name {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #3b1d8f;
}

.footer__description {
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  line-height: 20px;
  color: #303030;
}

@media (max-width: 767px) {
  .footer__description {
    display: none;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cfdae7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-right: 8px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__end {
  background: #e8edf3;
  min-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__info {
  display: block;
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  line-height: 20px;
  color: #7a7a7a;
  margin-right: 30px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;
}
/*# sourceMappingURL=style.css.map */