$reg: "Gotham Pro Medium";
$bold: "Gotham Pro Bold";

@font-face {
    font-family: "Gotham Pro Medium";
    src: url(../fonts/GothamPro-Medium.eot);
    src: url(../fonts/GothamPro-Medium.eot) format("embedded-opentype"),
        url(../fonts/GothamPro-Medium.woff) format("woff"), url(../fonts/GothamPro-Medium.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro Bold";
    src: url(../fonts/GothamPro-Bold.eot);
    src: url(../fonts/GothamPro-Bold.eot) format("embedded-opentype"), url(../fonts/GothamPro-Bold.woff) format("woff"),
        url(../fonts/GothamPro-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
::before,
::after {
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
// ul li {
//     list-style: none;
// }
.container {
    max-width: 1300px;
    margin: 0px auto;
    box-sizing: content-box;
    padding: 0px 20px;
}
.wrapper {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 20px;
}
body {
    background: #e5e5e5;
}
@import "header";
@import "major";
@import "suggest";
@import "will";
@import "cards";
@import "start";
@import "forecast";
@import "profile";
@import "footer";
